<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
    <link rel="shortcut icon" href="../public/images/linguagem_icon.png">
  </head>
  <body>
    <header>
      <%- include('navbar'); -%>
    </header>
    
    <div class="post-estilo">
      <div class="container">
        <div class="row">
          <% posts.forEach((post) => { %>
            <%- include('post_card', { post: post }); -%>
          <% }); %>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <% projects.forEach((project) => { %>
            <%- include('project_card', { project: project }); -%>
          <% }); %>
        </div>
      </div>
    </div>
    
    <div class="shoppingCart-estilo">
      <div class="container">
        <div class="row">
            <% carts.forEach(( cart ) => { %>
              <%- include('shoppingCart_card', { cart: cart } ); -%>
            <% }); %>
        </div>
      </div>
    </div>
    
    <footer>
        <%- include('footer'); -%>
    </footer>
  </body>
</html>
