<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
    <link rel="shortcut icon" href="../public/images/linguagem_icon.png">
  </head>
  <body>
    <header>
      <%- include('navbar'); -%>
    </header>

    <div class="container">
    
        <h1 class="my-3">Languages list</h1>

        <ul class="list-group list-group-flush">

            <% posts.forEach((post) => { %>
                <%- include('post_list', {post: post}); -%>
            <% }); %>
            
        </ul>
    </div>
    
    <footer>
        <%- include('footer'); -%>
    </footer>
  </body>
</html>
